/* * { 
  box-sizing: border-box;
}

body {
  width: 800px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 23px;
  margin: 80px 0px 20px 0px;
}

h6 {
  font-size: 10px;
  color: #a7a7a7;
  margin: 0px 0px 10px 0px;
}

p {
  font-size: 12px;
  line-height: 15px;
}

img {
  margin: 20px 0px 20px 0px;
  width: 800px;
  height: auto;
}

.nine {
  margin: 0px 0px 10px 0px;
}

.twe {
  margin-bottom: 40px;
}

.Content {
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 15px;
}

ol {
  font-size: 15px;
  line-height: 20px;
}

.OCA {
  text-indent: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Park {
  text-indent: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 20px;
  font-size: 23;
}
 */

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
hr,
h6 {
  width: 700px;
  margin: 0 auto;
}
img {
  width: 1024;
  margin: 0 auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}

p,
ol,
ul,
blockquote {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}

h1 + p {
  color: rgba(0, 0, 0, 0.4);
}

a {
  color: inherit;
}

h1 {
  margin: 50px auto;
  font-size: 38px;
  line-height: 45px;
}

h2 {
  margin-top: 40px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 32px;
}

h4 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 28px;
}

h5 {
  margin-top: 28px;
  font-size: 20px;
  line-height: 24px;
}

h6 {
  margin-top: 24px;
  font-size: 16px;
  line-height: 20px;
}

hr {
  margin: 12px auto;
  width: 1024px;
  color: blueviolet;
}

h5 + p {
  margin-top: 5px;
}

ul {
  list-style-type: disc;
  padding-left: 200px;
}

ol {
  list-style-type: decimal;
  padding-left: 32px;
}

/* li { 
margin: 10px auto;
 } */

blockquote {
  font-style: italic;
  position: relative;
}

blockquote::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  left: -17px;
}
